<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Simple Web App</title>
    <link rel="stylesheet" href="/assets/style.css">
    
</head>
<body>
    <div>
        <!--フォーム-->
        <form name="login_form">
            <div>
                <h1 class="contact-title">Login</h1>
                <p>ID, Passwordご入力の上, 「Login」ボタンをクリックしてください.</p>
            </div>
            <div>

                <div>
                    <div>
                        <input type="id" name="id" id="id" placeholder="ID">
                    </div>
                    <br>
                    <div>
                        <input type="password" name="pass" id="password" placeholder="Password">
                    </div>
                </div>

            </div>
            <button type="button" id="loginBtn">Login</button>
        </form>

    </div>
    <a href="/">Top</a>
    
</body>
</html>