<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Simple Web App</title>
    <link rel="stylesheet" href="/assets/style.css">
    
</head>
<body>
    <div>
        <!--フォーム-->
        <form name="signup_form">
            <div>
                <h1 class="contact-title">Sign up</h1>
                <p>Username, Passwordご入力の上, 「Signup」ボタンをクリックしてください.</p>
            </div>
            <div>

                <div>
                    <div>
                        <input type="username" name="username" id="username" placeholder="John Doe">
                    </div>
                    <br>
                    <div>
                        <input type="password" name="pass" id="password" placeholder="Password">
                    </div>
                </div>

            </div>
            <button type="button" id="signupBtn">Sign up</button>
        </form>

    </div>
    <a href="/">Top</a>
    <a href="/login">Login</a>
    
</body>
</html>